/*-----Main Style-----*/
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
p {
    margin: 8px 0 0 0;
}
.container p {
    text-align: center;
    padding: 0;
}

/*-----Image Style-----*/
img {
    margin: 20px auto 0 auto;
    display: block;
}
.gude-text {
    padding: 0;
    margin: -25px 0 0 0;
    font-weight: 500;
    font-size: 60px;
    color: #FFA000;
}

/*-----Button Style-----*/
.btn-container {
    margin: -10px auto 0 auto;
    text-align: center;
}

a.btn {
    text-decoration: none;
}

.btn {
    color: white;
    background-color: #FFA000;
    display: inline-block;
    border: 0;
    border-radius: 3px;
    font-weight: 500;
    width: 100px;
    font-size: 20px;
    padding: 10px 5px;
    margin: 5px 10px 0px 10px;
}

.btn:focus {
    outline: 0;
}

.btn:hover{
    background-color: #0090FF;
}
.adder:hover{
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
}

/*-----Login Page-----*/
.login {
    text-align: center;
}

/*-----Profile Page-----*/
.profile {
    text-align: center;
    background-color: #EEE;
    border-radius: 3px;
    width: 300px;
    height: 250px;
    margin: 40px auto 0px auto;
}

.profile-container {
    text-align: center;
}

.profile > img {
    padding-top: 20px;
}

.profile-label {
    font-weight: bold;
}

.profile-value {
    font-weight: 400;
}

.bottom-menu {
    background-color: #EEE;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px auto 0px auto;
    border-radius: 3px;
    text-align: center;
}

.bottom-menu a:link {
    color: #FFA000;
}

.bottom-menu a:visited{
    color: #FFA000;
}

.bottom-menu a:hover {
    color: #0090FF;
}

.menu-divide{
    display: inline;
}

.hide {
    display: none;
}

/*-----Header-----*/
header a ~ p {
    display: inline;
}

header {
    text-align: right;
}

header a:link {
    color: #FFA000;
}

header a:visited{
    color: #FFA000;
}

header a:hover {
    color: #0090FF;
}