html
    head
        title Error
        link(rel="stylesheet" href="/client/css/main.css" type="text/css")
    body
        .container
            h1.heading Oh Dear!
            img.logo-pic(src="/client/img/SirVeyLogo.png")
            p.error-text It seems you got lost. Not to fret. I'll help you get back.
            a(href="/")
                button.home HOME